.btn-facebook .btn-google .btn-twitter{
    width: 32%;
}

.btn-facebook{
    background: #2e19a5;
    color: white;
}

.btn-google{
    background: #e60e0e;
    color: white;

}
    
.btn-twitter{
    background: #55acee;
    color: white;

}